In [101]:
# Rutas
admissions = 'http://testluis.xyz/admissions.csv'
diagnoses_icd = 'http://testluis.xyz/diagnoses_icd.csv'
emar = 'http://testluis.xyz/emar.csv'
patients = 'http://testluis.xyz/patients.csv'
pharmacy = 'http://testluis.xyz/pharmacy.csv'
poe = 'http://testluis.xyz/poe.csv'
services = 'http://testluis.xyz/services.csv'
transfers = 'http://testluis.xyz/transfers.csv'

# DFs
import pandas as pd
import matplotlib.pyplot as plt
admissions = pd.read_csv(admissions)
diagnoses_icd = pd.read_csv(diagnoses_icd)
#emar = pd.read_csv(emar)
patients = pd.read_csv(patients)
#pharmacy = pd.read_csv(pharmacy)
#poe = pd.read_csv(poe)
services = pd.read_csv(services)
transfers = pd.read_csv(transfers)

**LIMPIEZA DE ADMISSIONS**

In [102]:
admissions.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,ENGLISH,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P51VDL,EMERGENCY ROOM,NaN,Other,ENGLISH,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0

In [103]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431231 entries, 0 to 431230
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   subject_id            431231 non-null  int64
 1   hadm_id               431231 non-null  int64
 2   admittime             431231 non-null  object
 3   dischtime             431231 non-null  object
 4   deathtime             8598 non-null    object
 5   admission_type        431231 non-null  object
 6   admit_provider_id     431227 non-null  object
 7   admission_location    431231 non-null  object
 8   discharge_location    312076 non-null  object
 9   insurance             431231 non-null  object
 10  language              431231 non-null  object
 11  marital_status        421998 non-null  object
 12  race                  431231 non-null  object
 13  edregtime             299282 non-null  object
 14  edouttime             299282 non-null  object
 15  hospital_expire_flag  431231 non-null  int64
dtypes: int64(3), object(13)
memory usage: 52.6+ MB

In [104]:
categorical_columns = admissions.select_dtypes(include=['object', 'category']).columns.tolist()
print("Variables categóricas detectadas:", categorical_columns)

for column in categorical_columns:
    print(f"Frecuencia de niveles en '{column}':")
    print(admissions[column].value_counts())
    print("\n")
#Necesario convertir a tipo de dato fechas

Variables categóricas detectadas: ['admittime', 'dischtime', 'deathtime', 'admission_type', 'admit_provider_id', 'admission_location', 'discharge_location', 'insurance', 'language', 'marital_status', 'race', 'edregtime', 'edouttime']
Frecuencia de niveles en 'admittime':
admittime
2136-04-01 07:15:00    6
2126-01-09 07:15:00    6
2155-12-08 00:00:00    5
2179-11-13 07:15:00    5
2154-07-13 07:15:00    5
                      ..
2125-02-06 16:58:00    1
2127-09-13 23:22:00    1
2187-09-17 22:03:00    1
2176-10-26 23:07:00    1
2145-11-02 21:38:00    1
Name: count, Length: 424564, dtype: int64


Frecuencia de niveles en 'dischtime':
dischtime
2177-09-28 14:35:00    4
2171-02-04 17:30:00    4
2126-09-02 15:00:00    4
2171-03-06 15:00:00    4
2188-03-23 16:30:00    4
                      ..
2183-04-01 12:30:00    1
2110-08-02 12:25:00    1
2143-11-23 15:15:00    1
2129-11-07 14:00:00    1
2145-11-11 12:57:00    1
Name: count, Length: 420653, dtype: int64


Frecuencia de niveles en 'deathtime':
deathtime
2131-01-20 05:15:00    1
2183-04-12 07:55:00    1
2145-03-30 16:37:00    1
2137-09-06 21:33:00    1
2188-07-02 22:10:00    1
                      ..
2173-06-11 18:00:00    1
2123-03-27 10:00:00    1
2123-01-17 16:23:00    1
2110-12-15 19:59:00    1
2164-09-17 13:42:00    1
Name: count, Length: 8598, dtype: int64


Frecuencia de niveles en 'admission_type':
admission_type
EW EMER.                       149413
EU OBSERVATION                  94776
OBSERVATION ADMIT               52668
URGENT                          44691
SURGICAL SAME DAY ADMISSION     34231
DIRECT EMER.                    19554
DIRECT OBSERVATION              18707
ELECTIVE                        10565
AMBULATORY OBSERVATION           6626
Name: count, dtype: int64


Frecuencia de niveles en 'admit_provider_id':
admit_provider_id
P886Y0    6278
P41R5N    3867
P29CGZ    3411
P3529J    3274
P77SO2    2979
          ...
P872UC       1
P70Q2R       1
P69IU1       1
P519LS       1
P35W5L       1
Name: count, Length: 1728, dtype: int64


Frecuencia de niveles en 'admission_location':
admission_location
EMERGENCY ROOM                            232595
PHYSICIAN REFERRAL                        114963
TRANSFER FROM HOSPITAL                     35974
WALK-IN/SELF REFERRAL                      15816
CLINIC REFERRAL                            10008
PROCEDURE SITE                              7804
PACU                                        5479
INTERNAL TRANSFER TO OR FROM PSYCH          4205
TRANSFER FROM SKILLED NURSING FACILITY      3843
INFORMATION NOT AVAILABLE                    359
AMBULATORY SURGERY TRANSFER                  185
Name: count, dtype: int64


Frecuencia de niveles en 'discharge_location':
discharge_location
HOME                            155423
HOME HEALTH CARE                 75572
SKILLED NURSING FACILITY         43024
REHAB                            10523
DIED                              8511
CHRONIC/LONG TERM ACUTE CARE      7144
HOSPICE                           3469
AGAINST ADVICE                    2590
PSYCH FACILITY                    2262
ACUTE HOSPITAL                    1610
OTHER FACILITY                    1355
ASSISTED LIVING                    551
HEALTHCARE FACILITY                 42
Name: count, dtype: int64


Frecuencia de niveles en 'insurance':
insurance
Other       229341
Medicare    160560
Medicaid     41330
Name: count, dtype: int64


Frecuencia de niveles en 'language':
language
ENGLISH    388416
?           42815
Name: count, dtype: int64


Frecuencia de niveles en 'marital_status':
marital_status
MARRIED     181293
SINGLE      163213
WIDOWED      45829
DIVORCED     31663
Name: count, dtype: int64


Frecuencia de niveles en 'race':
race
WHITE                                        272932
BLACK/AFRICAN AMERICAN                        59959
OTHER                                         15102
UNKNOWN                                       10668
HISPANIC/LATINO - PUERTO RICAN                 8076
WHITE - OTHER EUROPEAN                         7925
HISPANIC OR LATINO                             7754
ASIAN                                          6156
ASIAN - CHINESE                                5587
WHITE - RUSSIAN                                5024
BLACK/CAPE VERDEAN                             4765
HISPANIC/LATINO - DOMINICAN                    4383
BLACK/CARIBBEAN ISLAND                         2704
BLACK/AFRICAN                                  2530
PATIENT DECLINED TO ANSWER                     1761
UNABLE TO OBTAIN                               1603
PORTUGUESE                                     1510
ASIAN - SOUTH EAST ASIAN                       1446
HISPANIC/LATINO - GUATEMALAN                   1330
ASIAN - ASIAN INDIAN                           1198
WHITE - EASTERN EUROPEAN                       1170
WHITE - BRAZILIAN                              1103
AMERICAN INDIAN/ALASKA NATIVE                   919
HISPANIC/LATINO - SALVADORAN                    892
HISPANIC/LATINO - MEXICAN                       665
HISPANIC/LATINO - COLUMBIAN                     639
MULTIPLE RACE/ETHNICITY                         560
HISPANIC/LATINO - HONDURAN                      536
ASIAN - KOREAN                                  506
SOUTH AMERICAN                                  505
HISPANIC/LATINO - CUBAN                         500
HISPANIC/LATINO - CENTRAL AMERICAN              437
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER       386
Name: count, dtype: int64


Frecuencia de niveles en 'edregtime':
edregtime
2171-11-04 23:17:00    3
2128-06-26 16:47:00    3
2136-06-18 14:55:00    3
2189-10-21 11:38:00    3
2181-11-30 12:40:00    3
                      ..
2166-08-09 14:30:00    1
2172-05-30 19:22:00    1
2172-02-16 11:27:00    1
2172-04-04 16:35:00    1
2145-11-02 19:28:00    1
Name: count, Length: 293964, dtype: int64


Frecuencia de niveles en 'edouttime':
edouttime
2139-06-21 14:55:00    4
2182-03-01 09:50:00    3
2147-06-01 01:09:00    3
2171-05-24 21:27:00    3
2163-04-15 22:01:00    3
                      ..
2170-02-06 11:03:00    1
2171-08-27 20:07:00    1
2170-09-01 18:11:00    1
2183-04-18 08:20:00    1
2145-11-02 22:59:00    1
Name: count, Length: 294010, dtype: int64

In [105]:
# Especificar las columnas a convertir
columns_to_convert = ['admittime', 'dischtime','deathtime','edregtime','edouttime']

# Convertir las columnas a tipo de dato fecha
for column in columns_to_convert:
    admissions[column] = pd.to_datetime(admissions[column], errors='coerce')

In [106]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431231 entries, 0 to 431230
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   subject_id            431231 non-null  int64
 1   hadm_id               431231 non-null  int64
 2   admittime             431231 non-null  datetime64[ns]
 3   dischtime             431231 non-null  datetime64[ns]
 4   deathtime             8598 non-null    datetime64[ns]
 5   admission_type        431231 non-null  object
 6   admit_provider_id     431227 non-null  object
 7   admission_location    431231 non-null  object
 8   discharge_location    312076 non-null  object
 9   insurance             431231 non-null  object
 10  language              431231 non-null  object
 11  marital_status        421998 non-null  object
 12  race                  431231 non-null  object
 13  edregtime             299282 non-null  datetime64[ns]
 14  edouttime             299282 non-null  datetime64[ns]
 15  hospital_expire_flag  431231 non-null  int64
dtypes: datetime64[ns](5), int64(3), object(8)
memory usage: 52.6+ MB

In [107]:
admissions.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaT,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,ENGLISH,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaT,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaT,EU OBSERVATION,P51VDL,EMERGENCY ROOM,NaN,Other,ENGLISH,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0

In [108]:
admissions = admissions.drop('language', axis=1)

In [109]:
admissions.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaT,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaT,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaT,EU OBSERVATION,P51VDL,EMERGENCY ROOM,NaN,Other,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0

In [110]:
# Calcular el porcentaje de valores nulos para cada columna
percent_nulls = admissions.isna().mean() * 100

# Mostrar el resultado
print(percent_nulls)

subject_id               0.000000
hadm_id                  0.000000
admittime                0.000000
dischtime                0.000000
deathtime               98.006173
admission_type           0.000000
admit_provider_id        0.000928
admission_location       0.000000
discharge_location      27.631362
insurance                0.000000
marital_status           2.141080
race                     0.000000
edregtime               30.598218
edouttime               30.598218
hospital_expire_flag     0.000000
dtype: float64

In [111]:
admissions = admissions.drop('deathtime', axis=1)

In [112]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431231 entries, 0 to 431230
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   subject_id            431231 non-null  int64
 1   hadm_id               431231 non-null  int64
 2   admittime             431231 non-null  datetime64[ns]
 3   dischtime             431231 non-null  datetime64[ns]
 4   admission_type        431231 non-null  object
 5   admit_provider_id     431227 non-null  object
 6   admission_location    431231 non-null  object
 7   discharge_location    312076 non-null  object
 8   insurance             431231 non-null  object
 9   marital_status        421998 non-null  object
 10  race                  431231 non-null  object
 11  edregtime             299282 non-null  datetime64[ns]
 12  edouttime             299282 non-null  datetime64[ns]
 13  hospital_expire_flag  431231 non-null  int64
dtypes: datetime64[ns](4), int64(3), object(7)
memory usage: 46.1+ MB

In [113]:
admissions.head()

,subject_id,hadm_id,admittime,dischtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,EU OBSERVATION,P51VDL,EMERGENCY ROOM,NaN,Other,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0

**LIMPIEZA DE TRANSFERS**

In [114]:
transfers.head()

,subject_id,hadm_id,transfer_id,eventtype,careunit,intime,outtime
0,10000032,22595853.0,33258284,ED,Emergency Department,2180-05-06 19:17:00,2180-05-06 23:30:00
1,10000032,22595853.0,35223874,admit,Transplant,2180-05-06 23:30:00,2180-05-07 17:21:27
2,10000032,22595853.0,36904543,discharge,NaN,2180-05-07 17:21:27,NaN
3,10000032,22841357.0,34100253,discharge,NaN,2180-06-27 18:49:12,NaN
4,10000032,22841357.0,34703856,admit,Transplant,2180-06-26 21:31:00,2180-06-27 18:49:12

In [115]:
categorical_columns = transfers.select_dtypes(include=['object', 'category']).columns.tolist()
print("Variables categóricas detectadas:", categorical_columns)

for column in categorical_columns:
    print(f"Frecuencia de niveles en '{column}':")
    print(transfers[column].value_counts())
    print("\n")
#Necesario convertir a tipo de dato fechas

Variables categóricas detectadas: ['eventtype', 'careunit', 'intime', 'outtime']
Frecuencia de niveles en 'eventtype':
eventtype
ED           625907
admit        431241
discharge    431231
transfer     402593
Name: count, dtype: int64


Frecuencia de niveles en 'careunit':
careunit
Emergency Department                                625907
Medicine                                            149709
Emergency Department Observation                     80909
Discharge Lounge                                     52950
Med/Surg                                             47581
Medicine/Cardiology                                  44014
Neurology                                            39126
Hematology/Oncology                                  35542
Vascular                                             30939
Transplant                                           29963
Med/Surg/GYN                                         26521
Med/Surg/Trauma                                      23329
PACU                                                 23237
Labor & Delivery                                     21731
Medical Intensive Care Unit (MICU)                   21187
Cardiac Surgery                                      17211
Surgery/Trauma                                       16811
Medical/Surgical Intensive Care Unit (MICU/SICU)     16198
Cardiac Vascular Intensive Care Unit (CVICU)         16158
Obstetrics (Postpartum & Antepartum)                 15927
Surgical Intensive Care Unit (SICU)                  14502
Psychiatry                                           13193
Trauma SICU (TSICU)                                  11697
Hematology/Oncology Intermediate                     11494
Coronary Care Unit (CCU)                             10796
Medical/Surgical (Gynecology)                         9653
Surgery                                               9344
Surgery/Pancreatic/Biliary/Bariatric                  8610
Medicine/Cardiology Intermediate                      7118
Cardiology Surgery Intermediate                       4500
Observation                                           4386
Obstetrics Postpartum                                 4300
Neuro Intermediate                                    3842
Thoracic Surgery                                      3128
Cardiology                                            2381
Neuro Surgical Intensive Care Unit (Neuro SICU)       2358
Neuro Stepdown                                        1899
Obstetrics Antepartum                                 1446
Unknown                                                144
Name: count, dtype: int64


Frecuencia de niveles en 'intime':
intime
2179-07-24 10:22:00    4
2173-05-28 00:17:00    4
2152-07-14 23:30:00    4
2144-10-28 16:07:00    3
2176-03-08 03:55:00    3
                      ..
2162-01-27 21:01:00    1
2167-05-29 12:47:00    1
2167-05-15 08:17:00    1
2172-02-05 18:49:00    1
2145-11-11 13:00:47    1
Name: count, Length: 1881109, dtype: int64


Frecuencia de niveles en 'outtime':
outtime
2173-05-28 06:08:00    5
2117-05-02 22:08:00    4
2182-07-23 15:23:00    3
2147-04-24 18:44:00    3
2144-08-23 15:00:00    3
                      ..
2194-02-05 02:16:00    1
2158-01-02 16:59:00    1
2158-01-01 22:22:16    1
2158-01-05 17:28:11    1
2145-11-04 21:29:30    1
Name: count, Length: 1455307, dtype: int64

In [116]:
# Calcular el porcentaje de valores nulos para cada columna
percent_nulls = transfers.isna().mean() * 100

# Mostrar el resultado
print(percent_nulls)

subject_id      0.000000
hadm_id        17.452559
transfer_id     0.000000
eventtype       0.000000
careunit       22.804727
intime          0.000000
outtime        22.804568
dtype: float64

In [117]:
# Especificar las columnas a convertir
columns_to_convert = ['intime', 'outtime']

# Convertir las columnas a tipo de dato fecha
for column in columns_to_convert:
    transfers[column] = pd.to_datetime(transfers[column], errors='coerce')

In [118]:
transfers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890972 entries, 0 to 1890971
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   subject_id   int64
 1   hadm_id      float64
 2   transfer_id  int64
 3   eventtype    object
 4   careunit     object
 5   intime       datetime64[ns]
 6   outtime      datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(2)
memory usage: 101.0+ MB

**DIAGNOSES ICD**

In [119]:
diagnoses_icd.head()

   subject_id   hadm_id  seq_num icd_code  icd_version
0    10000032  22595853        1     5723            9
1    10000032  22595853        2    78959            9
2    10000032  22595853        3     5715            9
3    10000032  22595853        4    07070            9
4    10000032  22595853        5      496            9

**EMAR**

**LIMPIEZA PATIENTS**

In [120]:
patients.head()

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10000032      F          52         2180       2014 - 2016  2180-09-09
1    10000048      F          23         2126       2008 - 2010         NaN
2    10000068      F          19         2160       2008 - 2010         NaN
3    10000084      M          72         2160       2017 - 2019  2161-02-13
4    10000102      F          27         2136       2008 - 2010         NaN

**LIMPIEZA PHARMACY**

**LIMPIEZA SERVICES**

In [121]:
services.head()

   subject_id   hadm_id         transfertime prev_service curr_service
0    10000032  22595853  2180-05-06 22:24:57          NaN          MED
1    10000032  22841357  2180-06-26 18:28:08          NaN          MED
2    10000032  25742920  2180-08-05 23:44:50          NaN          MED
3    10000032  29079034  2180-07-23 12:36:04          NaN          MED
4    10000068  25022803  2160-03-03 23:17:17          NaN          MED

In [122]:
categorical_columns = services.select_dtypes(include=['object', 'category']).columns.tolist()
print("Variables categóricas detectadas:", categorical_columns)

for column in categorical_columns:
    print(f"Frecuencia de niveles en '{column}':")
    print(services[column].value_counts())
    print("\n")

Variables categóricas detectadas: ['transfertime', 'prev_service', 'curr_service']
Frecuencia de niveles en 'transfertime':
transfertime
2145-03-31 01:57:21    2
2162-01-24 18:56:25    2
2139-05-22 12:59:43    2
2162-06-15 16:13:04    2
2166-01-23 21:31:33    2
                      ..
2160-09-20 04:49:35    1
2152-06-13 20:15:25    1
2123-02-23 23:23:45    1
2119-03-15 06:54:24    1
2145-11-02 21:39:58    1
Name: count, Length: 467979, dtype: int64


Frecuencia de niveles en 'prev_service':
prev_service
MED      15808
CMED      4504
SURG      4141
OMED      3053
NMED      2208
ORTHO     1826
NSURG     1638
TRAUM     1401
TSURG      867
VSURG      735
CSURG      635
GYN        337
GU         299
PSURG      265
OBS        239
ENT        167
EYE         41
PSYCH        6
DENT         5
Name: count, dtype: int64


Frecuencia de niveles en 'curr_service':
curr_service
MED      225914
CMED      42883
SURG      40878
OMED      26064
ORTHO     21373
NMED      21110
OBS       19511
NSURG     13081
CSURG     10647
VSURG     10188
PSYCH      7699
TRAUM      7232
GYN        6371
GU         5551
TSURG      4537
PSURG      3794
ENT        1130
EYE          39
DENT         27
Name: count, dtype: int64

In [123]:
# Calcular el porcentaje de valores nulos para cada columna
percent_nulls = services.isna().mean() * 100

# Mostrar el resultado
print(percent_nulls)

subject_id       0.000000
hadm_id          0.000000
transfertime     0.000000
prev_service    91.843454
curr_service     0.000000
dtype: float64

In [124]:
# Especificar las columnas a convertir
columns_to_convert = ['transfertime']

# Convertir las columnas a tipo de dato fecha
for column in columns_to_convert:
    services[column] = pd.to_datetime(services[column], errors='coerce')

In [125]:
services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468029 entries, 0 to 468028
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   subject_id    468029 non-null  int64
 1   hadm_id       468029 non-null  int64
 2   transfertime  468029 non-null  datetime64[ns]
 3   prev_service  38175 non-null   object
 4   curr_service  468029 non-null  object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 17.9+ MB

**LIMPIEZA POE**