<a href="https://colab.research.google.com/github/cesargar1507/DatasetsUB/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
library(readr)
library(tidyr)
library(dplyr)

ruta <- "https://raw.githubusercontent.com/cesargar1507/DatasetsUB/main/Facebook_10_18_raw.txt?_sm_au_=iVVW7DqFjJfSk0pM26q8vKHV6CTMc"
datos <- read.csv(ruta_archivo, sep = ";")
str(datos)
head(datos)

'data.frame':	468 obs. of  3 variables:
 $ pais     : chr  "Ukraine" "Kuwait" "Iraq" "Hong Kong SAR, China" ...
 $ valor    : chr  "23,3" "3100000" "2,5" "3408240" ...
 $ indicador: chr  "2010|Internet_por" "2018|Facebook" "2010|Internet_por" "2010|Facebook" ...

  pais                 valor       indicador
1 Ukraine              23,3        2010|Internet_por
2 Kuwait               3100000     2018|Facebook
3 Iraq                 2,5         2010|Internet_por
4 Hong Kong SAR, China 3408240     2010|Facebook
5 Ireland              1597000     2010|Facebook
6 Kuwait               99,59999254 2018|Internet_por

In [29]:
datos_separados <- separate(datos, indicador, into = c("Año", "Variable"), sep = "\\|")
datos_separados

    pais                 valor         Año  Variable
1   Ukraine              23,3          2010 Internet_por
2   Kuwait               3100000       2018 Facebook
3   Iraq                 2,5           2010 Internet_por
4   Hong Kong SAR, China 3408240       2010 Facebook
5   Ireland              1597000       2010 Facebook
6   Kuwait               99,59999254   2018 Internet_por
7   Estonia              227420        2010 Facebook
8   Japan                71000000      2018 Facebook
9   United States        71,69         2010 Internet_por
10  Switzerland          83,9          2010 Internet_por
11  United States          309326      2010 poblacion
12  Arab Rep. Egypt        82761       2010 poblacion
13  Vietnam              1019120       2010 Facebook
14  Rwanda                 10039       2010 poblacion
15  Rwanda                 12301       2018 poblacion
16  Bahamas, The         43            2010 Internet_por
17  United Arab Emirates 68            2010 Internet_por
18  Mauritius            58,5961697    2018 Internet_por
19  Colombia             29000000      2018 Facebook
20  Italy                  60431       2018 poblacion
21  France               77,28         2010 Internet_por
22  United Kingdom         62766       2010 poblacion
23  Qatar                  2781        2018 poblacion
24  Taiwan               6745160       2010 Facebook
25  Jordan               27,2          2010 Internet_por
26  Estonia              74,1          2010 Internet_por
27  Croatia              1192160       2010 Facebook
28  Iraq                   38433       2018 poblacion
29  Romania                19473       2018 poblacion
30  United Kingdom       85            2010 Internet_por
⋮   ⋮                    ⋮             ⋮    ⋮
439 Romania              1555360       2010 Facebook
440 Canada               90            2018 Internet_por
441 Portugal             2494540       2010 Facebook
442 Norway                 4889        2010 poblacion
443 Bangladesh           28000000      2018 Facebook
444 Romania              70,68127793   2018 Internet_por
445 Mexico                 126190      2018 poblacion
446 Egypt, Arab Rep.     3581460       2010 Facebook
447 Philippines          62000000      2018 Facebook
448 Morocco              15000000      2018 Facebook
449 Saudi Arabia           27421       2010 poblacion
450 Colombia               45222       2010 poblacion
451 Venezuela, RB        37,37         2010 Internet_por
452 Russian Federation   1244280       2010 Facebook
453 Philippines            93966       2010 poblacion
454 Oman                   4829        2018 poblacion
455 Algeria              59,57968476   2018 Internet_por
456 Portugal             74,66096828   2018 Internet_por
457 Finland              1793300       2010 Facebook
458 Iraq                   29741       2010 poblacion
459 Serbia                 6982        2018 poblacion
460 Philippines          25            2010 Internet_por
461 Slovenia             582000        2010 Facebook
462 Oman                 2630000       2018 Facebook
463 Japan                  128070      2010 poblacion
464 Brazil                 195713      2010 poblacion
465 Libya                3500000       2018 Facebook
466 Argentina              40788       2010 poblacion
467 Taiwan                 23.140,95   2010 poblacion
468 Tunisia                11565       2018 poblacion

In [30]:
frec_año <- table(datos_separados$Año)
frec_año

2010 2018
 234  234

In [31]:
# Calcular las frecuencias de 'variable'
frec_variable <- table(datos_separados$Variable)
frec_variable

    Facebook Internet_por    poblacion
         156          156          156

In [59]:
# Crear un diccionario de mapeo para uniformizar los nombres de los países
diccionario_mapeo <- c(
  "Arab Rep. Egypt" = "Egypt",
  "Egypt, Arab Rep." = "Egypt",
  "Hong Kong SAR, China" = "Hong Kong",
  "Rep. Yemen" = "Yemen",
  "Russian" = "Russia",
  "Russian Federation" = "Russia",
  "Venezuela, RB" = "Venezuela",
  "Yemen, Rep." = "Yemen"
)

# Agregar una nueva columna "pais_uniforme" al data frame
datos <- datos %>%
  mutate(pais_r = ifelse(pais %in% names(diccionario_mapeo), diccionario_mapeo[trimws(pais)], pais))

In [60]:
frec_pais <- table(datos$pais_r)
frec_pais

             Algeria            Argentina            Australia
                   6                    6                    6
             Austria         Bahamas, The              Bahrain
                   6                    6                    6
          Bangladesh              Belgium               Brazil
                   6                    6                    6
              Canada                Chile                China
                   6                    6                    6
            Colombia              Croatia              Denmark
                   6                    6                    6
               Egypt              Estonia             Ethiopia
                   6                    6                    6
             Finland               France              Germany
                   6                    6                    6
              Greece            Hong Kong              Hungary
                   6                    6                    6
             Iceland                India            Indonesia
                   6                    6                    6
                Iraq              Ireland               Israel
                   6                    6                    6
               Italy                Japan               Jordan
                   6                    6                    6
         Korea, Rep.               Kuwait              Lebanon
                   6                    6                    6
               Libya             Malaysia                Malta
                   6                    6                    6
          Mauritania            Mauritius               Mexico
                   6                    6                    6
             Morocco          Netherlands              Nigeria
                   6                    6                    6
              Norway                 Oman             Pakistan
                   6                    6                    6
         Philippines               Poland             Portugal
                   6                    6                    6
               Qatar              Romania               Russia
                   6                    6                    6
              Rwanda         Saudi Arabia               Serbia
                   6                    6                    6
           Singapore      Slovak Republic             Slovenia
                   6                    6                    6
        South Africa                Spain            Sri Lanka
                   6                    6                    6
              Sweden          Switzerland               Taiwan
                   6                    6                    6
            Thailand              Tunisia               Turkey
                   6                    6                    6
              Uganda              Ukraine United Arab Emirates
                   6                    6                    6
      United Kingdom        United States           Uzbekistan
                   6                    6                    6
           Venezuela              Vietnam                Yemen
                   6                    6                    6